#lewis {
    font-family: Courgette;
    color: white;
}
#right {
    color: white;
}
nav {
    background-color: rgba(14, 13, 13, 0.938);
    
}
html {
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(19, 18, 18, 0.938);
    color: white;
    display: flexbox;
    width: 100%;
    justify-content: center;
}
.name {
    text-align: center;
    margin-top: 10%;
}
.hello {
    display: flex;
}
.lewis {
    font-family: Lemonada;
}
.murgor {
    font-family: Kalam;
}
.about {
    text-align: center;
    margin-top: 2%;
}
.about-me {
    margin-top: 3%;
}
hr {
    background-color: white;
    margin-top: 3%;
}
#icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
}

.icons {
    position: relative;
    background-color: white;
    margin: 20px auto;
    width: 80px;
    height: 80px;
    border-radius: 200px;
}
.text {
    margin-top: 3%;
}
.skills {
    text-align: center;
    margin-top: 2%;
}
h3 {
    font-family: Roboto;
}
.card-body {
    background-color: rgba(19, 18, 18, 0.938);
    border-radius: 8px;
}
.skill {
    margin-top: 3%;
}
.list {
    display: inline-block;
    text-align: center;
}
ul {
    margin-top: 2%;
}
.technology {
    text-align: center;
    margin-top: 2%;
}
.lists {
    float: left;
}
.tech {
    margin-top: 3%;
}
.footer {
    text-align: center;
    margin-top: 3%;
    width: 100%;
    align-self: end;
}
#icon {
    height: 40px;
    width: 40px;
}
footer {
    clear: both;
    position: relative;
    height: 125px;
    margin-top: -100px;  
}
#footer {
    background-color: rgba(14, 13, 13, 0.938);
}

