#lewis {
    font-family: Courgette;
    color: white;
}
nav {
    background-color: rgba(14, 13, 13, 0.938);
}
body{
    background-color: rgba(19, 18, 18, 0.938);
    color: white;
}
.name {
    text-align: center;
    margin-top: 10%;
}
.hello {
    display: flex;
}
.lewis {
    font-family: Lemonada;
}
.about {
    text-align: center;
    margin-top: 2%;
}
.about-me {
    margin-top: 3%;
}
hr {
    background-color: white;
    margin-top: 3%;
}
#icons {
    height: 65px;
    width: 65px;
}
.skills {
    text-align: center;
}
h3 {
    font-family: Roboto;
}